
<%# 
<div>今後の支払対応期限</div>
<div>20◯/◯/◯ 支払の対応期限: 20◯◯/◯/◯◯</div>
<div>20◯/◯/◯ 支払の対応期限: 20◯◯/◯/◯◯</div>
<div>20◯/◯/◯ 支払の対応期限: 20◯◯/◯/◯◯</div>
<div>20◯/◯/◯ 支払の対応期限: 20◯◯/◯/◯◯</div>

<div>対応期限が迫っている請求書一覧</div> %>

<%# 請求書一覧 %>
  <div class='invoice-list'>
    <div class="page-title" >
      請求書一覧
    </div>
<ul class='invoice-lists'>
  <% if @invoices.any? %>
    <% @invoices.each do |invoice| %>
      <div class='list'>

          <%= link_to invoice_path(invoice), class: 'invoice-link' do %>
        <div class='invoice-index-info'>
          <div class='invoice-index-content'><%= invoice.subject %></div>
          <div class='invoice-index-content'><%= invoice.client.name %></div>
          <div class='invoice-index-content'>支払期日：<%= invoice.due_date %></div>
          <div class='invoice-index-content'><%= invoice.status_master&.name || "未設定" %></div>
        </div>
    <% end %>
      </li>
    <% end %>
  <% else %>
    <div class='list'>
      <%= link_to '#' do %>
       <div class='invoice-index-info'>
          <div class='invoice-index-content'>請求書情報が未登録です</div>
        </div>
      <% end %>
    </li>
  <% end %>
</ul>  
<%# /商品一覧 %>

<%= link_to "請求書情報を新規追加する", new_invoice_path %>
<div>請求書情報を更新する（※未実装）</div>
<div>請求書情報を削除する（※未実装）</div>
<div>取引先情報を新規追加する（※未実装）</div>
<div>取引先情報を更新する（※未実装）</div>

