<!DOCTYPE html>
<html>
  <head>
    <title>InvoiceManager</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>


  <header>
    <div class='header-title'>Invoice Manager</div>
    <% wdays = ["日", "月", "火", "水", "木", "金", "土"] %>
    <%= Date.today.strftime("本日：%Y年%m月%d日") %> (<%= wdays[Date.today.wday] %>)
  </header>

  <body>
    <%= yield %>
  </body>

<footer class='footer'><%= link_to "トップ画面に戻る", root_path %></footer>

</html>
